Priority: optional
Maintainer: Nathan Neulinger <nneul@neulinger.org>
Source: fixperms
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.1
Homepage: 

Package: fixperms
Section: utils
Architecture: any
Description: This contains the fixperms utility scripts.

